$def with(datos)
<br>
<h1 class="text-center"><img src="/static/images/resume.png" height="50" width="50">  Detalle Robin</h>
<br>
<br>
<section class="container">
    <h3 class="text-left"><img src="/static/images/id-card.png" height="30" width="30">  ID:</h3><input type="text" class="form-control" readonly="true" value="$datos.id_robin" id="id_robin" name="id_robin">
    <br>
    <h3 class="text-left"><img src="/static/images/robin.png" height="30" width="30">  Nombre:</h3><input type="text" class="form-control" readonly="true" value="$datos.nombre_robin" id="nombre_robin" name="nombre_robin">
    <br>
    <h3 class="text-left"><img src="/static/images/skills.png" height="30" width="30">  Habilidades:</h3><input type="text" class="form-control"  readonly="true" value="$datos.habilidades" id="habilidades" name="habilidades">
    <br>
    <h3 class="text-left"><img src="/static/images/target.png" height="30" width="30">  Armas:</h3><input type="text" class="form-control"  readonly="true" value="$datos.armas" id="armas" name="armas">
    <br>
    <a href="/index_robin"><button type="submit" class="btn btn-warning  btn-lg btn-block">Regresar</button></a>
</section>