<br>
<h1 class="text-center">Batman Universe</h1>
<br>
<section class="float-sm-left" > 
        <a href="/index_batman"><button type="button" class="btn btn-dark btn-lg" class="text-center"><img src="/static/images/batman.png" height="350" width="350">  <br><h1>Batman</h1></button></a>
</section>
<section class="float-sm-right">
        <a href="/index_robin"><button type="button" class="btn btn-warning btn-lg" class="text-center"><img src="/static/images/robin.png" height="350" width="350">  <br><h1>Robin</h1></button></a>
</section>

