<br>
<h1 class="text-center"><img src="/static/images/comic.png" height="50" width="50">  Insertar</h1>
<br>
<form method="POST">
        <section class="form-group">
                <label for="id_batman">ID</label>
                <input type="text" class="form-control"  placeholder="id" id="id_batman" name="id_batman">
        </section>
        <section class="form-group">
            <label for="c">Descripción</label>
            <input type="text" class="form-control" placeholder="Descripción" id="descripcion" name="descripcion">
        </section>
        <section class="form-group">
                <label for="version">Versión</label>
                <input type="text" class="form-control"  placeholder="Versión" id="version" name="version">
        </section>
        <section class="form-group">
            <label for="aparicion">Aparición</label>
            <input type="text" class="form-control" placeholder="Aparición"  id="aparicion" name="aparicion">
        </section>
        <br>
        <button type="submit" class="btn btn-success btn-lg"><img src="/static/images/add-book.png" height="20" width="20">  Insertar</button>
</form>
<br>
<a href="/index_batman"><button class="btn btn-warning btn-lg">Cancelar</button></a>