$def with(datos)
<br>
<h1 class="text-center"><img src="/static/images/resume.png" height="50" width="50">  Detalle Batman</h>
<br>
<br>
<section class="container">
    <h3 class="text-left"><img src="/static/images/id-card.png" height="30" width="30">  ID:</h3><input type="text" class="form-control" readonly="true" value="$datos.id_batman" id="id_batman" name="id_batman">
    <br>
    <h3 class="text-left"><img src="/static/images/skills.png" height="30" width="30">  Descripción:</h3><input type="text" class="form-control" readonly="true" value="$datos.descripcion" id="descripcion" name="descripcion">
    <br>
    <h3 class="text-left"><img src="/static/images/space.png" height="30" width="30">  Versión:</h3><input type="text" class="form-control"  readonly="true" value="$datos.version" id="version" name="version">
    <br>
    <h3 class="text-left"><img src="/static/images/comic.png" height="30" width="30">  Aparición:</h3><input type="text" class="form-control"  readonly="true" value="$datos.aparicion" id="aparicion" name="aparicion">
    <br>
    <a href="/index_batman"><button type="submit" class="btn btn-warning  btn-lg btn-block">Regresar</button></a>
</section>